/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Araceli Silva
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
    background-color: #8C8279;
}

#wrapper {
    width: 960px;
    margin: auto;
    text-align: left;
    color: #000000		;
}

p {
    text-align: left;
}

.button {
    display: inline;
    color: #000000;
    background-color: #cb997e;
    padding: 8px;
    margin: auto;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    border: none;
}

.button:hover {
    background-color: #eddcd2;
}
.button a, a:visited, a:hover, a:active {
    color: #000;
    text-decoration: none;
}

#crearCama {
    text-align: center;
    width: 960px;
    margin: auto;
    margin-bottom: 10px;
}

#addCamaForm {
    text-align: left;
    width: 400px;
    margin: auto;
    padding: 10px;
}

#addCamaForm span {
    display: block;
}

#content {
    margin: auto;
    width: 960px;
}

.cama {
    width: 180px;
    height: 110px;
    margin: 10px;
    padding: 16px;
    color: #fff;
    vertical-align: top;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: inline-block;
}

.cama.off {
    background-color: #c8cccf;
}

.cama span {
    display: block;
}

.CamaName {
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
}

.eliminarCama {
    margin-top: 12px;
    text-align: center;
}

.cama.Hospital1 {
    background-color: #5eb85e;
}

.cama.Hospital1 a:hover {
    color: #a1ed82;
}

.cama.Hospital2 {   
    background-color: #0f90d1;
}

.cama.Hospital2 a:hover {
    color: #4badd1;
}

.cama.Hospital3 {
    background-color: #c2a00c;
}

.cama.Hospital3 a:hover {
    color: #fad232;
}

.cama.Hospital4 {
    background-color: #db524d;
}

.cama.Hospital4 a:hover {
    color: #ff907d;
}

.cama a {
    text-decoration: none;
}

.cama a:visited, a:active, a:hover {
    color: #000;
}

.cama a:hover {
    text-decoration: underline;
}

